<table>
    <thead>
      <tr>
        <th class="bg-[#002B3E] text-[13px] text-[#FFFFFF] font-bold">Hora</th>
        <th class="bg-[#002B3E] text-[13px] text-[#FFFFFF] font-bold" *ngFor="let day of listService.diasSemana">
          {{ tipo == 'pc' ? day.nombre : (day.nombre ? (day.nombre).slice(0,1) : '') }}
        </th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let hour of hours; let i = index">
        <td class="bg-[#FFFFFF]" [ngStyle]="{ 'width': widthHora, 'font-size': fontSize }">{{ hour }}</td>
        <td class="bg-[#E0E0E0]" *ngFor="let day of listService.diasSemana; let j = index"
            [class.selected]="obtenerChecked(i, j)">
            <span class="text-[10px] text-[#002B3E]">{{ obtenerText(i, j) }}</span>
        </td>
      </tr>
    </tbody>
</table>