<div class="w-full px-4 py-4 bg-[#F5F5F5]">
    <div class="flex justify-between" *ngIf="!isSmallScreen">
        <div class="flex flex-col w-[35%] border-[2px] border-solid border-[#002B3E] rounded-lg mt-[18px] p-4">
            <app-select class="mb-4" label="Selecciona la semana" [items]="semanasList"
            typeControl="model" [(controlModel)]="selectedSemana" color="#002B3E" (changeSelect)="changeSemana()" textSize="15px" heightSelect="45px"></app-select>            

            <div class="mb-4">
                <div class="text-[16px] text-[#002B3E] font-bold">Selecciona los alumnos</div>
                <div *ngFor="let curso of alumnos">
                    <app-checkbox [label]="curso.name" typeControl="model" [(controlModel)]="curso.select"></app-checkbox>
                </div>
            </div>
            
            <div>
                <div class="text-[16px] text-[#002B3E] font-bold">Selecciona los cursos</div>
                <div *ngFor="let curso of cursos">
                    <app-checkbox [label]="curso.name" typeControl="model" [(controlModel)]="curso.select"></app-checkbox>
                </div>
            </div>
        </div>

        <div class="w-[63%] px-4 pt-4">
            <app-calendar [hours]="horariosList" [selectedSlots]="selectedSlots"></app-calendar>

            <div class="flex flex-col border-[2px] border-solid border-[#002B3E] rounded-lg gap-2 mt-4 p-4">
                <span class="text-[16px] text-[#002B3E] font-bold">Recordatorio</span>
                <span class="text-[14px] text-[#002B3E]">Todas las clases visualizadas en este calendario son clases confirmadas</span>
                <span class="text-[14px] text-[#002B3E]">Puedes usar los filtros para ver las clases por semana, por alumnos y/o por cursos</span>
            </div>
        </div>
    </div>

    <div class="flex flex-col" *ngIf="isSmallScreen">
        <div class="flex flex-col mb-4">
            <app-select class="mb-4" label="Selecciona la semana" [items]="semanasList"
            typeControl="model" [(controlModel)]="selectedSemana" color="#002B3E" (changeSelect)="changeSemana()" textSize="13px" heightSelect="35px"></app-select>            

            <div class="mb-4">
                <div class="text-[13px] text-[#002B3E] font-bold">Selecciona los alumnos</div>
                <div *ngFor="let curso of alumnos">
                    <app-checkbox [label]="curso.name" typeControl="model" [(controlModel)]="curso.select"></app-checkbox>
                </div>
            </div>
            
            <div>
                <div class="text-[13px] text-[#002B3E] font-bold">Selecciona los cursos</div>
                <div *ngFor="let curso of cursos">
                    <app-checkbox [label]="curso.name" typeControl="model" [(controlModel)]="curso.select"></app-checkbox>
                </div>
            </div>
        </div>

        <app-calendar [hours]="horariosList" [selectedSlots]="selectedSlots" tipo="mobile"></app-calendar>

        <div class="flex flex-col border-[2px] border-solid border-[#002B3E] rounded-lg gap-2 mt-4 p-4">
            <span class="text-[16px] text-[#002B3E] font-bold">Recordatorio</span>
            <span class="text-[14px] text-[#002B3E]">Todas las clases visualizadas en este calendario son clases confirmadas</span>
            <span class="text-[14px] text-[#002B3E]">Puedes usar los filtros para ver las clases por semana, por alumnos y/o por cursos</span>
        </div>
    </div>
</div>