<mat-sidenav-container>
    <mat-sidenav opened mode="side" [style.width]="sidenavWidth()">
        <mat-nav-list>
            @for (item of sidenavService.menuItems(); track $index) {
                <a mat-list-item
                    class="menu-item"
                    [routerLink]="item.route"
                    routerLinkActive="active"
                    #rla="routerLinkActive"
                    [activated]="rla.isActive"
                >
                    <mat-icon matListItemIcon>{{ item.icon }}</mat-icon>
                    <span matListItemTitle *ngIf="this.sidenavService.state() === 'visible'">{{ item.title }}</span>
                </a>
            }
        </mat-nav-list>
    </mat-sidenav>
    <mat-sidenav-content class="content" [style.margin-left]="sidenavWidth()">
        <router-outlet></router-outlet>
    </mat-sidenav-content>
</mat-sidenav-container>