header {
    background-color: #002B3E;
    padding: 10px 24px;
}

nav {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

button {
    background: none;
    border: none;
    color: white;
    font-size: 24px;
    cursor: pointer;
}

ul {
    list-style: none;
    padding: 0;
    margin: 0;
    display: none;
}

ul.open {
    display: block;
}

ul li {
    margin: 10px 0;
}

a {
    color: white;
    text-decoration: none;
}

@media screen and (max-width:768px) {
    header {
        max-height: 50px;
        nav {
            img {
                width: 10%;
                height: 10%;
                object-fit: cover;
            }
        }
    }
}