table {
  width: 100%;
  border-collapse: collapse;
  text-align: center;
}

td, th {
  border: 1px solid #ccc;
  text-align: center;
  padding: 8px;
  width: 120px;
  height: 50px;
  cursor: pointer;
}

th {}

td {}

.disponible {
  background-color: #e0f7fa;
  color: #002B3E;
}

.reservado {
  background-color: #ffffff;
  color: #D01E21;
  pointer-events: none;
}

.seleccionado {
  background-color: #91A4AC;
  color: #002B3E;
}

.bloqueado {
  background-color: #E0E0E0;
  pointer-events: none;
}
