<div class="flex justify-center">
    <div *ngIf="!isSmallScreen" class="w-[90%]">
        <app-button-back text="si"></app-button-back>
        <div class="mb-6">
            <span class="text-[30px] text-[#002B3E] font-bold">¡Antes de continuar con la reserva de tus clases por favor lee nuestros términos y condiciones!</span>
        </div>
        <div class="flex flex-col border-[2px] border-solid border-[#002B3E] rounded-lg bg-[#F5F5F5] p-4" [innerHTML]="terminosCondiciones"></div>
        <div class="flex flex-col items-end mt-4">
            <app-checkbox label="He leído y acepto los términos y condiciones" typeControl="model" [(controlModel)]="checkTerminos"></app-checkbox>
            <button (click)="continuar()" [disabled]="!checkTerminos" class="w-[150px] bg-[#002B3E] text-[#FFFFFF] !rounded-lg py-2 px-2">
                Continuar
            </button>
        </div>
    </div>
    <div *ngIf="isSmallScreen" class="w-[90%]">
        <app-button-back text="si"></app-button-back>
        <div class="mb-4">
            <span class="text-[18px] text-[#002B3E] font-bold">¡Antes de continuar con la reserva de tus clases por favor lee nuestros términos y condiciones!</span>
        </div>
        <div class="flex flex-col h-[340px] overflow-y-scroll border-[2px] border-solid border-[#002B3E] rounded-lg bg-[#F5F5F5] p-4" [innerHTML]="terminosCondiciones"></div>
        <div class="flex flex-col items-end mt-4">
            <app-checkbox label="He leído y acepto los términos y condiciones" typeControl="model" [(controlModel)]="checkTerminos"></app-checkbox>
            <button (click)="continuar()" [disabled]="!checkTerminos" class="w-[150px] bg-[#002B3E] text-[#FFFFFF] !rounded-lg py-2 px-2">
                Continuar
            </button>
        </div>
    </div>
</div>