<div class="flex flex-col gap-4 px-4 py-4">
    <div class="flex">
        <button (click)="home()" class="flex items-center">
            <mat-icon aria-hidden="false" aria-label="arrow_back" fontIcon="arrow_back" class="!text-[18px] !text-[#DABC62] !w-[18px] !h-[18px]"></mat-icon>
        </button>&nbsp;&nbsp;
        <div class="flex gap-4">
            <button (click)="cambiarVista(1)" class="w-[150px] bg-[#002B3E] text-[#FFFFFF] text-[14px] font-bold !rounded-lg px-4 py-2">
                Estatus de clases
            </button>
            <button (click)="cambiarVista(2)" class="w-[150px] bg-[#FFFFFF] text-[#002B3E] text-[14px] font-bold !rounded-lg px-4 py-2 border-[2px] border-solid border-[#002B3E]">
                Mi calendario
            </button>
        </div>
    </div>

    <div *ngIf="pageView == 1" class="flex justify-center">
        <div *ngIf="!isSmallScreen" class="w-full px-6 py-6">
            <app-button-back text="si"></app-button-back>
            <div class="flex justify-between items-center mb-4">
                <div class="flex items-end gap-4 mb-4">
                    <app-calendar-input 
                        label="Fecha de inicio" 
                        placeholder="Selecciona fecha de inicio"
                        [control]="form.controls['fecha_inicio']"
                        [maxDate]="maxDate"
                    ></app-calendar-input>
                    <app-calendar-input 
                        label="Fecha de fin" 
                        placeholder="Selecciona fecha de fin"
                        [control]="form.controls['fecha_fin']"
                        [maxDate]="maxDate"
                    ></app-calendar-input>
                    <!-- <app-input color="#6C6C6C" bg="#FAFAFA" borderColor="#B3B3B3" label="Alumno" placeholder="" type="string" [control]="form.controls['alumno']" ></app-input>
                    <app-input color="#6C6C6C" bg="#FAFAFA" borderColor="#B3B3B3" label="Estatus" placeholder="" type="string" [control]="form.controls['status']" ></app-input> -->
                    <button (click)="buscar()" class="w-[65px] h-[38.71px] bg-[#008C4B] text-[#FFFFFF] !rounded-lg py-1 px-1">Buscar</button>
                </div>
                <!-- <div>
                    <app-pagination
                        [totalItems]="totalItems"
                        [pageSize]="pageSize"
                        [currentPage]="currentPage"
                        (pageChange)="onPageChange($event)">
                    </app-pagination>
                </div> -->
            </div>
            <div class="overflow-x-auto">
                <table>
                    <thead class="border-[1px] border-solid border-[#D9D9D9]">
                        <tr>
                            <th class="text-[16px] text-[#002B3E] font-semibold !bg-[#D9D9D9]">Fecha</th>
                            <th class="text-[16px] text-[#002B3E] font-semibold !bg-[#D9D9D9]">Hora</th>
                            <th class="text-[16px] text-[#002B3E] font-semibold !bg-[#D9D9D9]">Tipo de clase</th>
                            <th class="text-[16px] text-[#002B3E] font-semibold !bg-[#D9D9D9]">Alumno</th>
                            <th class="text-[16px] text-[#002B3E] font-semibold !bg-[#D9D9D9]">Paquete</th>
                            <th class="text-[16px] text-[#002B3E] font-semibold !bg-[#D9D9D9]">Curso</th>
                            <th class="text-[16px] text-[#002B3E] font-semibold !bg-[#D9D9D9]">Tema</th>
                            <th class="text-[16px] text-[#002B3E] font-semibold !bg-[#D9D9D9]">Colegio/Universidad</th>
                            <th class="text-[16px] text-[#002B3E] font-semibold !bg-[#D9D9D9]">Estatus</th>
                            <th class="text-[16px] text-[#002B3E] font-semibold !bg-[#D9D9D9]">Clases dictadas</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr *ngFor="let usuario of usuarios" class="border-[1px] border-solid border-[#D9D9D9]">
                            <td class="text-[13px] text-[#000000] text-center bg-[#F5F5F5]">{{ usuario.fecha }}</td>
                            <td class="text-[13px] text-[#000000] text-center bg-[#F5F5F5]">{{ usuario.hora }}</td>
                            <td class="text-[13px] text-[#000000] text-center bg-[#F5F5F5]">{{ usuario.tipo }}</td>
                            <td class="text-[13px] text-[#000000] text-center bg-[#F5F5F5]">{{ usuario.alumno }}</td>
                            <td class="text-[13px] text-[#000000] text-center bg-[#F5F5F5]">{{ usuario.paquete }}</td>
                            <td class="text-[13px] text-[#000000] text-center bg-[#F5F5F5]">{{ usuario.curso }}</td>
                            <td class="text-[13px] text-[#000000] text-center bg-[#F5F5F5]">{{ usuario.tema }}</td>
                            <td class="text-[13px] text-[#000000] text-center bg-[#F5F5F5]">{{ usuario.colegio }}</td>
                            <td class="text-[13px] text-center bg-[#F5F5F5]" [ngClass]="{ 'text-gray-500': usuario.estatus === 'Pendiente', 'text-green-600': usuario.estatus === 'Confirmado', 'text-red-500': usuario.estatus === 'Cancelado' }">
                                {{ usuario.estatus }}
                            </td>
                            <td class="text-[13px] text-[#000000] text-center bg-[#F5F5F5]">
                                <div class="flex items-center justify-center gap-2">
                                    <span class="text-[13px] text-[#000000]" *ngIf="usuario.estatus === 'Confirmado'">
                                        {{ listService.resumenReservas(usuario.horarios) }}
                                        de
                                        {{ usuario.clasesTotal ?? '' }}
                                    </span>
                                    <span *ngIf="usuario.estatus !== 'Confirmado'">No disponible</span>
                                </div>
                            </td>
                        </tr>
                    </tbody>
                </table>
            </div>
        </div>
        <div *ngIf="isSmallScreen">
            <app-button-back text="si"></app-button-back>
            <div class="flex flex-col gap-4 mt-4">
                <div class="flex gap-4">
                    <app-calendar-input 
                        label="Fecha de inicio" 
                        placeholder="Fecha inicio"
                        [control]="form.controls['fecha_inicio']"
                        [maxDate]="maxDate"
                        maxWidth="160px"
                    ></app-calendar-input>
                    <app-calendar-input 
                        label="Fecha de fin" 
                        placeholder="Fecha fin"
                        [control]="form.controls['fecha_fin']"
                        [maxDate]="maxDate"
                        maxWidth="160px"
                    ></app-calendar-input>
                </div>
                <!-- <app-input color="#6C6C6C" bg="#FAFAFA" borderColor="#B3B3B3" label="Alumno" placeholder="" type="string" [control]="form.controls['alumno']" ></app-input>
                <app-input color="#6C6C6C" bg="#FAFAFA" borderColor="#B3B3B3" label="Estatus" placeholder="" type="string" [control]="form.controls['status']" ></app-input> -->
                <button (click)="buscar()" class="w-full w-[65px] h-[38.71px] bg-[#008C4B] text-[#FFFFFF] !rounded-lg py-1 px-1">Buscar</button>
            </div>

            <!-- <div class="flex justify-end mt-4 mb-4">
                <app-pagination [totalItems]="totalItems" [pageSize]="pageSize" [currentPage]="currentPage" (pageChange)="onPageChange($event)"></app-pagination>
            </div> -->

            <div *ngFor="let usuario of usuarios"
                class="flex flex-col gap-2 border-[2px] border-solid border-[#D9D9D9] rounded-lg p-2 mb-4">
                <div class="flex">
                    <span class="text-[14px] text-[#000000] font-bold">{{ usuario.fecha }}</span>&nbsp;&nbsp;&nbsp;
                    <span class="text-[14px] text-[#000000] font-bold">{{ usuario.hora }}</span>
                </div>
                <div class="flex">
                    <span class="text-[13px] text-[#002B3E] font-bold">Tipo de clase:&nbsp;</span>
                    <span class="text-[13px] text-[#000000]">{{ usuario.tipo }}</span>
                </div>
                <div class="flex">
                    <span class="text-[13px] text-[#002B3E] font-bold">Alumno:&nbsp;</span>
                    <span class="text-[13px] text-[#000000]">{{ usuario.alumno }}</span>
                </div>
                <div class="flex">
                    <span class="text-[13px] text-[#002B3E] font-bold">Paquete:&nbsp;</span>
                    <span class="text-[13px] text-[#000000]">{{ usuario.paquete }}</span>
                </div>
                <div class="flex">
                    <span class="text-[13px] text-[#002B3E] font-bold">Curso:&nbsp;</span>
                    <span class="text-[13px] text-[#000000]">{{ usuario.curso }}</span>
                </div>
                <div class="flex">
                    <span class="text-[13px] text-[#002B3E] font-bold">Tema:&nbsp;</span>
                    <span class="text-[13px] text-[#000000]">{{ usuario.tema }}</span>
                </div>
                <div class="flex">
                    <span class="text-[13px] text-[#002B3E] font-bold">Colegio/Universidad:&nbsp;</span>
                    <span class="text-[13px] text-[#000000]">{{ usuario.colegio }}</span>
                </div>
                <div class="flex">
                    <span class="text-[13px] text-[#002B3E] font-bold">Estatus:&nbsp;</span>
                    <span class="text-[13px]" [ngClass]="{ 'text-gray-500': usuario.estatus === 'Pendiente', 'text-green-600': usuario.estatus === 'Confirmado', 'text-red-500': usuario.estatus === 'Cancelado' }">
                        {{ usuario.estatus }}
                    </span>
                </div>
                <div class="flex">
                    <span class="text-[13px] text-[#002B3E] font-bold">Clases dictadas:&nbsp;</span>
                    
                    <mat-icon class="!text-[14px] !w-[14px] !h-[14px] !color-[#002B3E]" aria-hidden="false" aria-label="flecha" fontIcon="arrow_right_alt"></mat-icon>&nbsp;&nbsp;&nbsp;
                
                    <span class="text-[13px] text-[#000000]" *ngIf="usuario.estatus === 'Confirmado'">
                        {{ listService.resumenReservas(usuario.horarios) }}
                        de
                        {{ usuario.clasesTotal ?? '' }}
                    </span>
                    <span *ngIf="usuario.estatus !== 'Confirmado'">No disponible</span>

                </div>
            </div>
        </div>
    </div>

    <div *ngIf="pageView == 2">
        <app-calendario-horarios class="flex justify-center"></app-calendario-horarios>
    </div>
</div>
