<div class="w-full flex justify-center">
    <div class="w-8/10">
        <div>

        </div>
        <span class="text-[30px] text-[#002B3E] font-bold">Para confirmar tu reserva por favor realiza los siguientes pasos:</span>
        <div class="flex w-full mt-6">
            <div class="flex flex-col w-1/2">
                <div class="flex flex-col">
                    <span class="text-[18px] text-[#002B3E] mb-2">1. Realiza el pago de tus clases en nuestras cuentas en BCP o Interbank.</span>
                    <span class="text-[18px] text-[#002B3E] mb-2">2. Envía la confirmación de transferencia a nuestra Coordinadora Académica vía WhatsApp (986 664 761).</span>
                    <span class="text-[18px] text-[#002B3E] mb-2">3. Nuestra Coordinadora Académica confirmará la recepción del pago y la reserva de tus clases.</span>
                </div>
                <div class="flex flex-col mt-6">
                    <span class="text-[14px] text-[#DABC62] font-bold">Importante:</span>
                    <span class="text-[14px] text-[#002B3E] font-bold">En caso no pudiste reservar todos tus sesiones
                        debido a que aún no sabes tu disponibilidad o debido a que los horarios del profesor aún no
                        están disponibles, recuerda que después podrás terminar de reservar el resto de tus clases en el
                        módulo de historial de paquetes.</span>
                </div>
            </div>
            <div class="w-1/2 flex justify-end">
                <img src="../../../../assets/images/cuenta_bancaria.png" alt="" class="w-[450px] h-[300px]">
            </div>
        </div>
        <div class="flex flex-col mt-4 py-2 px-4 bg-[#F5F5F5] border-[2px] border-solid border-[#002B3E] rounded-lg">
            <span class="text-[20px] text-[#002B3E] font-bold">Resumen</span>
            <div class="flex">
                <div class="w-1/3 flex flex-col">
                    <div class="flex mb-2">
                        <span class="text-[12px] text-[#002B3E] font-bold">Curso:</span>
                        <span class="text-[12px] text-[#002B3E]"></span>
                    </div>
                    <div class="flex mb-2">
                        <span class="text-[12px] text-[#002B3E] font-bold">Colegio:</span>
                        <span class="text-[12px] text-[#002B3E]"></span>
                    </div>
                    <div class="flex mb-2">
                        <span class="text-[12px] text-[#002B3E] font-bold">Tema:</span>
                        <span class="text-[12px] text-[#002B3E]"></span>
                    </div>
                    <div class="flex">
                        <span class="text-[12px] text-[#002B3E] font-bold">Paquete:</span>
                        <span class="text-[12px] text-[#002B3E]"></span>
                    </div>
                </div>
                <div class="w-1/3 flex flex-col">
                    <div class="flex mb-2">
                        <span class="text-[12px] text-[#002B3E] font-bold">Tipo de clase:</span>
                        <span class="text-[12px] text-[#002B3E]"></span>
                    </div>
                    <div class="flex mb-2">
                        <span class="text-[12px] text-[#002B3E] font-bold">Profesor:</span>
                        <span class="text-[12px] text-[#002B3E]"></span>
                    </div>
                    <div class="flex">
                        <span class="text-[12px] text-[#002B3E] font-bold">Precio:</span>
                        <span class="text-[12px] text-[#002B3E]"></span>
                    </div>
                </div>
                <div class="w-1/3">
                    <div class="flex">
                        <span class="text-[12px] text-[#002B3E] font-bold">Clases:</span>
                        <span class="text-[12px] text-[#002B3E]"></span>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>