<div>
    <div>

    </div>
    <span>Para confirmar tu reserva por favor realiza los siguientes pasos:</span>
    <div>
        <div>
            <div>
                <span>Realiza el pago de tus clases en nuestras cuentas en BCP o Interbank.</span>
                <span>Envía la confirmación de transferencia a nuestra Coordinadora Académica vía WhatsApp (986 664 761).</span>
                <span>Nuestra Coordinadora Académica confirmará la recepción del pago y la reserva de tus clases.</span>
            </div>
            <div>
                <span>Importante:</span>
                <span>En caso no pudiste reservar todos tus sesiones debido a que aún no sabes tu disponibilidad o debido a que los horarios del profesor aún no están disponibles, recuerda que después podrás terminar de reservar el resto de tus clases en el módulo de historial de paquetes.</span>
            </div>
        </div>
        <div>
             <img src="../../../../assets/images/cuenta_bancaria.png" alt="">
        </div>
    </div>
    <div>
        <span>Resumen</span>
        <div>
            <div>
                <span>Curso:</span>
                <span></span>
            </div>
            <div>
                <span>Colegio:</span>
                <span></span>
            </div>
            <div>
                <span>Tema:</span>
                <span></span>
            </div>
            <div>
                <span>Paquete:</span>
                <span></span>
            </div>
        </div>
        <div>
            <div>
                <span>Tipo de clase:</span>
                <span></span>
            </div>
            <div>
                <span>Profesor:</span>
                <span></span>
            </div>
            <div>
                <span>Precio:</span>
                <span></span>
            </div>
        </div>
        <div>
            <div>
                <span>Clases:</span>
                <span></span>
            </div>
        </div>
    </div>
</div>