<div class="mx-auto w-full lg:w-9/10 max-w-full max-h-9/10 px-4 pt-4 lg:pt-8">
    <app-tabs width="250px" borderR="14px 14px 0 0"
    bg="#FFFFFF" color="#002B3E" borderColor="#DABC62"
    bgActive="#DABC62" colorActive="#FFFFFF" borderColorActive="#DABC62"
    >
        <app-tab tabTitle="Pantallas de Alumnos">
            <app-create-data [data]="dataAlumno" coleccion="data_alumnos"></app-create-data>
        </app-tab>
        <app-tab tabTitle="Pantallas de Profesores">
            <app-create-data [data]="dataProfesor" coleccion="data_profesor"></app-create-data>
        </app-tab>
    </app-tabs>
</div>