.week-selector {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-bottom: 10px;
}

.week-selector button {
  background: #00394f;
  color: white;
  border: none;
  padding: 5px 10px;
  cursor: pointer;
}

.week-selector button[disabled] {
  background: #cccccc;
  cursor: not-allowed;
}

.tc {
  overflow-y: auto;
}