<div class="flex justify-center">
    <div *ngIf="!isSmallScreen" class="w-[90%] pt-4">
        <app-button-back text="si"></app-button-back>
        <div class="flex justify-between mb-6">
            <span class="text-[35px] text-[#002B3E] font-bold">Reserva tus clases aquí</span>
            <button (click)="confirmar()" class="w-[150px] bg-[#008C4B] text-[#FFFFFF] text-[14px] font-bold !rounded-lg"
            [disabled]="tema  == ''">
                GUARDAR
            </button>
        </div>
        <div class="flex justify-between w-full bg-[#F5F5F5] p-4">
            <div class="flex flex-col justify-between w-[35%]">
                <div class="flex flex-col">
                    <app-input [isDisabled]="isDisabled" color="#002B3E" bg="#F5F5F5" borderColor="#F5F5F5"
                        label="Curso" placeholder="" type="string" typeControl="model"
                        [(controlModel)]="curso" [name]="curso" borderColor="#B3B3B3" bg="#FAFAFA" class="mb-4" textSize="15px" heightSelect="45px"></app-input>
                    <app-input [isDisabled]="isDisabled" color="#002B3E" bg="#F5F5F5" borderColor="#F5F5F5"
                        label="Colegio/universidad" placeholder="" type="string" typeControl="model"
                        [(controlModel)]="colegio" [name]="colegio" borderColor="#B3B3B3" bg="#FAFAFA" class="mb-4" textSize="15px" heightSelect="45px"></app-input>
                    <app-input [isDisabled]="isDisabled" color="#002B3E" bg="#F5F5F5" borderColor="#F5F5F5"
                        label="Grado/ciclo" placeholder="" type="string" typeControl="model"
                        [(controlModel)]="gradoCiclo" [name]="gradoCiclo" borderColor="#B3B3B3" bg="#FAFAFA" class="mb-4" textSize="15px" heightSelect="45px"></app-input>
                    <app-input color="#002B3E" bg="#F5F5F5" borderColor="#F5F5F5"
                        label="Tema a revisar en la/las clases" placeholder="" type="string" typeControl="model"
                        [(controlModel)]="tema" [name]="tema"  borderColor="#B3B3B3" bg="#FAFAFA" class="mb-4" textSize="15px" heightSelect="45px"></app-input>
                    <app-input [isDisabled]="isDisabled" color="#002B3E" bg="#F5F5F5" borderColor="#F5F5F5"
                        label="Tipo de clase" placeholder="" type="string" typeControl="model"
                        [(controlModel)]="tipoClase" [name]="tipoClase"  borderColor="#B3B3B3" bg="#FAFAFA" class="mb-4" textSize="15px" heightSelect="45px"></app-input>
                    <app-input [isDisabled]="isDisabled" color="#002B3E" bg="#F5F5F5" borderColor="#F5F5F5"
                        label="Recompensa de referidos" placeholder="" type="string" typeControl="model"
                        [(controlModel)]="recompensa" [name]="recompensa"  borderColor="#B3B3B3" bg="#FAFAFA" class="mb-4" textSize="15px" heightSelect="45px"></app-input>
                    <app-input [isDisabled]="isDisabled" color="#002B3E" bg="#F5F5F5" borderColor="#F5F5F5"
                        label="Paquete de clases" placeholder="" type="string" typeControl="model"
                        [(controlModel)]="paqueteClase" [name]="paqueteClase"  borderColor="#B3B3B3" bg="#FAFAFA" class="mb-4" textSize="15px" heightSelect="45px"></app-input>
                    <app-input [isDisabled]="isDisabled" color="#002B3E" bg="#F5F5F5" borderColor="#F5F5F5"
                        label="Profesor seleccionado" placeholder="" type="string" typeControl="model"
                        [(controlModel)]="profesor" [name]="profesor"  borderColor="#B3B3B3" bg="#FAFAFA" class="mb-4" textSize="15px" heightSelect="45px"></app-input>
                </div>
                <div class="flex flex-col border-[2px] border-solid border-[#002B3E] rounded-lg mt-4 p-2">
                    <span class="text-[20px] text-[#002B3E] font-bold">Términos y Condiciones </span>
                    <div class="h-[140px] tc flex flex-col">
                        <span class="text-[12px] text-[#002B3E]">. Para reservar una clase para el el día siguiente, la solicitud y el pago debe realizarse antes de las 7:00pm</span>
                        <span class="text-[12px] text-[#002B3E]">. Después de las 7:00 p.m., solo se podrán reservar clases a partir del día subsiguiente.</span>
                        <span class="text-[12px] text-[#002B3E]">. Cada clase puede reprogramarse una sola vez. Después de esto, no se realizará ninguna devolución.</span>
                        <span class="text-[12px] text-[#002B3E]">. Recuerda que si haz referido a otro alumno y este ha comprado un paquete podrás marcar “Si” en el campo de “Recompensa de referidos” y podrás seleccionar el horario de 1 clase gratuita</span>
                    </div>

                </div>
            </div>
            <div class="flex flex-col justify-between w-[63%]">
                <div class="flex flex-col">
                    <span class="text-[16px] text-[#002B3E] font-bold">Selecciona tus horarios en el calendario</span>
                    <div class="flex justify-between items-center mt-4 mb-4">
                        <div class="flex flex-col">
                            <div class="pl-12">
                                <span class="text-[10px] text-[#002B3E] font-normal">{{ semanaCalendar !== '' ? 'Semana' : '' }}</span>
                            </div>
                            <div class="week-selector">
                                <button (click)="changeWeek(-1)" [disabled]="semanaOffset === 0" class="flex">
                                    <mat-icon aria-hidden="false" aria-label="arrow_back_ios" fontIcon="arrow_back_ios" class="!text-[18px] !text-[#FFFFFF] !w-[18px] !h-[18px]"></mat-icon>
                                </button>
                                <div class="flex flex-col ml-2 mr-2">
                                    <span class="text-[16px] text-[#002B3E] font-bold">{{ semanaCalendar }}</span>
                                </div>
                                <button (click)="changeWeek(1)" [disabled]="semanaOffset === 3" class="flex">
                                    <mat-icon aria-hidden="false" aria-label="arrow_forward_ios" fontIcon="arrow_forward_ios" class="!text-[18px] !text-[#FFFFFF] !w-[18px] !h-[18px]"></mat-icon>
                                </button>
                            </div>
                        </div>
                        <div class="flex">
                            <span class="text-[16px] text-[#D01E21] font-bold">Clases reservadas:</span>
                            <span class="text-[16px] text-[#002B3E] font-bold ml-2"> {{clasesReservadas}} de {{clasesTotal}} clases </span>
                        </div>
                    </div>
                    <app-calendar-alumno [maxSelect]="clasesTotal" [clicNumber]="clasesReservadas" (updateReservas)="updateReservas($event)" [horas]="horariosList" [selectedSlots]="selectedSlots" (actualizarHorario)="actualizarHorario($event)"
                    fontSize="11px"></app-calendar-alumno>
                </div>
                <div class="flex flex-col border-[2px] border-solid border-[#002B3E] rounded-lg mt-4 p-2">
                    <span class="text-[20px] text-[#002B3E] font-bold">Resumen</span>
                    <div class="h-[140px] tc flex w-full">
                        <div class="flex flex-col w-[50%]">
                            <div class="flex">
                                <span class="text-[16px] text-[#002B3E] font-bold mr-2">Curso:</span>
                                <span class="text-[16px] text-[#002B3E] font-light">{{curso}}</span>
                            </div>
                            <div class="flex">
                                <span class="text-[16px] text-[#002B3E] font-bold mr-2">Colegio:</span>
                                <span class="text-[16px] text-[#002B3E] font-light">{{colegio}}</span>
                            </div>
                            <div class="flex">
                                <span class="text-[16px] text-[#002B3E] font-bold mr-2">Tema:</span>
                                <span class="text-[16px] text-[#002B3E] font-light">{{tema}}</span>
                            </div>
                            <div class="flex">
                                <span class="text-[16px] text-[#002B3E] font-bold mr-2">Paquete:</span>
                                <span class="text-[16px] text-[#002B3E] font-light">{{paqueteClase}}</span>
                            </div>
                        </div>
                        <div class="flex flex-col w-[50%]">
                            <div class="flex flex-col">
                                <span class="text-[16px] text-[#002B3E] font-bold mr-2">Clases:</span>
                                <div *ngFor="let horario of listService.ordenarReservasString(stringClasesReservadas)">
                                    <span class="text-[12px] text-[#002B3E] font-light">{{horario}}</span>
                                </div>
                            </div>
                            <div class="flex">
                                <span class="text-[16px] text-[#002B3E] font-bold mr-2">Tipo de clase:</span>
                                <span class="text-[16px] text-[#002B3E] font-light">{{tipoClase}}</span>
                            </div>
                            <div class="flex">
                                <span class="text-[16px] text-[#002B3E] font-bold mr-2">Profesor:</span>
                                <span class="text-[16px] text-[#002B3E] font-light">{{profesor}}</span>
                            </div>
                            <div class="flex">
                                <span class="text-[16px] text-[#002B3E] font-bold mr-2">Precio:</span>
                                <span class="text-[16px] text-[#002B3E] font-light">S/ {{precio}}</span>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div *ngIf="isSmallScreen">
        <app-button-back text="si"></app-button-back>
        <mat-stepper orientation="vertical" [linear]="isLinear" #stepper>
            <mat-step label="filtros">
                <div class="flex flex-col">
                    <app-input [isDisabled]="isDisabled" color="#002B3E" bg="#F5F5F5" borderColor="#F5F5F5" class="w-[300px] mb-4"
                        label="Curso" placeholder="" type="string" typeControl="model"
                        [(controlModel)]="curso" [name]="curso" borderColor="#B3B3B3" bg="#FAFAFA" class="mb-4" textSize="13px" heightSelect="35px"></app-input>
                    <app-input [isDisabled]="isDisabled" color="#002B3E" bg="#F5F5F5" borderColor="#F5F5F5" class="w-[300px] mb-4"
                        label="Colegio/universidad" placeholder="" type="string" typeControl="model"
                        [(controlModel)]="colegio" [name]="colegio" borderColor="#B3B3B3" bg="#FAFAFA" class="mb-4" textSize="13px" heightSelect="35px"></app-input>
                    <app-input [isDisabled]="isDisabled" color="#002B3E" bg="#F5F5F5" borderColor="#F5F5F5" class="w-[300px] mb-4"
                        label="Grado/ciclo" placeholder="" type="string" typeControl="model"
                        [(controlModel)]="gradoCiclo" [name]="gradoCiclo" borderColor="#B3B3B3" bg="#FAFAFA" class="mb-4" textSize="13px" heightSelect="35px"></app-input>
                    <app-input color="#002B3E" bg="#F5F5F5" borderColor="#F5F5F5" class="w-[300px] mb-4"
                        label="Tema a revisar en la/las clases" placeholder="" type="string" typeControl="model"
                        [(controlModel)]="tema" [name]="tema"  borderColor="#B3B3B3" bg="#FAFAFA" class="mb-4" textSize="13px" heightSelect="35px"></app-input>
                    <app-input [isDisabled]="isDisabled" color="#002B3E" bg="#F5F5F5" borderColor="#F5F5F5" class="w-[300px] mb-4"
                        label="Tipo de clase" placeholder="" type="string" typeControl="model"
                        [(controlModel)]="tipoClase" [name]="tipoClase"  borderColor="#B3B3B3" bg="#FAFAFA" class="mb-4" textSize="13px" heightSelect="35px"></app-input>
                    <app-input [isDisabled]="isDisabled" color="#002B3E" bg="#F5F5F5" borderColor="#F5F5F5" class="w-[300px] mb-4"
                        label="Recompensa de referidos" placeholder="" type="string" typeControl="model"
                        [(controlModel)]="recompensa" [name]="recompensa"  borderColor="#B3B3B3" bg="#FAFAFA" class="mb-4" textSize="13px" heightSelect="35px"></app-input>
                    <app-input [isDisabled]="isDisabled" color="#002B3E" bg="#F5F5F5" borderColor="#F5F5F5" class="w-[300px] mb-4"
                        label="Paquete de clases" placeholder="" type="string" typeControl="model"
                        [(controlModel)]="paqueteClase" [name]="paqueteClase"  borderColor="#B3B3B3" bg="#FAFAFA" class="mb-4" textSize="13px" heightSelect="35px"></app-input>
                    <app-input [isDisabled]="isDisabled" color="#002B3E" bg="#F5F5F5" borderColor="#F5F5F5" class="w-[300px] mb-4"
                        label="Profesor seleccionado" placeholder="" type="string" typeControl="model"
                        [(controlModel)]="profesor" [name]="profesor"  borderColor="#B3B3B3" bg="#FAFAFA" class="mb-4" textSize="13px" heightSelect="35px"></app-input>
                </div>
            </mat-step>
            <mat-step label="Calendario">
                <div class="flex flex-col pt-2">
                    <span class="text-[16px] text-[#002B3E] font-bold">Selecciona tus horarios</span>
                    <div class="flex flex-col mt-4 mb-4">
                        <div class="flex flex-col items-start">
                            <div class="week-selector">
                                <button (click)="changeWeek(-1)" [disabled]="semanaOffset === 0" class="flex">
                                    <mat-icon aria-hidden="false" aria-label="arrow_back_ios" fontIcon="arrow_back_ios" class="!text-[18px] !text-[#FFFFFF] !w-[18px] !h-[18px]"></mat-icon>
                                </button>
                                <div class="flex flex-col ml-2 mr-2">
                                    <span class="text-[12px] text-[#002B3E] font-bold">{{ semanaCalendar !== '' ? 'Semana ' : '' }}{{ semanaCalendar }}</span>
                                </div>
                                <button (click)="changeWeek(1)" [disabled]="semanaOffset === 3" class="flex">
                                    <mat-icon aria-hidden="false" aria-label="arrow_forward_ios" fontIcon="arrow_forward_ios" class="!text-[18px] !text-[#FFFFFF] !w-[18px] !h-[18px]"></mat-icon>
                                </button>
                            </div>
                        </div>
                        <div class="flex">
                            <span class="text-[12px] text-[#D01E21] font-bold">Clases reservadas:</span>
                            <span class="text-[12px] text-[#002B3E] font-bold ml-2"> {{clasesReservadas}} de {{clasesTotal}} clases </span>
                        </div>
                    </div>
                    <app-calendar-alumno [maxSelect]="clasesTotal" [clicNumber]="clasesReservadas" (updateReservas)="updateReservas($event)"
                    [horas]="horariosList" [selectedSlots]="selectedSlots" (actualizarHorario)="actualizarHorario($event)"
                    fontSize="11px" tipo="mobile"></app-calendar-alumno>
                </div>
            </mat-step>
            <mat-step label="Resumen">
                <div class="flex justify-end mt-4">
                    <button (click)="confirmar()" class="w-[200px] h-[35px] bg-[#008C4B] text-[#FFFFFF] text-[12px] font-bold !rounded-lg" [disabled]="tema  == ''">
                        GUARDAR
                    </button>
                </div>

                <div class="flex flex-col border-[2px] border-solid border-[#002B3E] rounded-lg mt-4 p-2">
                    <span class="text-[14px] text-[#002B3E] font-bold">Resumen</span>
                    <div class="flex flex-col mt-2">
                        <div class="flex mb-2">
                            <span class="text-[12px] text-[#002B3E] font-bold mr-2">Curso:</span>
                            <span class="text-[12px] text-[#002B3E] font-light">{{curso}}</span>
                        </div>
                        <div class="flex mb-2">
                            <span class="text-[12px] text-[#002B3E] font-bold mr-2">Colegio:</span>
                            <span class="text-[12px] text-[#002B3E] font-light">{{colegio}}</span>
                        </div>
                        <div class="flex mb-2">
                            <span class="text-[12px] text-[#002B3E] font-bold mr-2">Tema:</span>
                            <span class="text-[12px] text-[#002B3E] font-light">{{tema}}</span>
                        </div>
                        <div class="flex mb-2">
                            <span class="text-[12px] text-[#002B3E] font-bold mr-2">Paquete:</span>
                            <span class="text-[12px] text-[#002B3E] font-light">{{paqueteClase}}</span>
                        </div>
                        <div class="flex flex-col mb-2">
                            <span class="text-[12px] text-[#002B3E] font-bold mr-2">Clases:</span>
                            <div *ngFor="let horario of listService.ordenarReservasString(stringClasesReservadas)">
                                <span class="text-[12px] text-[#002B3E] font-light">{{horario}}</span>
                            </div>
                        </div>
                        <div class="flex mb-2">
                            <span class="text-[12px] text-[#002B3E] font-bold mr-2">Tipo de clase:</span>
                            <span class="text-[12px] text-[#002B3E] font-light">{{tipoClase}}</span>
                        </div>
                        <div class="flex mb-2">
                            <span class="text-[12px] text-[#002B3E] font-bold mr-2">Profesor:</span>
                            <span class="text-[12px] text-[#002B3E] font-light">{{profesor}}</span>
                        </div>
                        <div class="flex mb-2">
                            <span class="text-[12px] text-[#002B3E] font-bold mr-2">Precio:</span>
                            <span class="text-[12px] text-[#002B3E] font-light">S/ {{precio}}</span>
                        </div>
                    </div>
                </div>
            </mat-step>
        </mat-stepper>
    </div>
</div>