<div class="flex flex-col bg-[#002B3E] px-4 py-4">
    <div class="flex justify-center"><img src="../../assets/images/logo-bcl.jpeg" alt="" class="w-[120px] h-[40px]"></div>
    <form (submit)="onLogin()" class="flex flex-col gap-4 mt-4">
        <app-input class="w-full" color="#DABC62" bg="#FFFFFF" borderColor="#FFFFFF" label="Ingresa tu correo" placeholder="Correo" type="email" typeControl="model" [(controlModel)]="email" ></app-input>
        <app-input class="w-full" color="#DABC62" bg="#FFFFFF" borderColor="#FFFFFF" label="Contraseña" placeholder="Contraseña" type="password" typeControl="model" [(controlModel)]="password" ></app-input>
    </form>
    <div *ngIf="mensajeError.length > 0"><span class="text-[12px] text-[#D01E21] font-medium">{{mensajeError}}</span></div>
    <div class="flex justify-end mt-4">
        <span class="text-[12px] text-[#DABC62] font-medium underline">¿Olvidaste tu contraseña?</span>
    </div>
    <div class="mt-4">
        <button (click)="onLogin()" class="w-full bg-[#DABC62] text-[#002B3E] !rounded-lg py-2 px-3">Iniciar Sesión</button>
    </div>
    <div *ngIf="vista == 'alumno'" class="flex justify-center mt-3">
        <span (click)="onCreateUser()" class="text-[14px] text-[#FFFFFF] !font-medium text-rigth underline">Aun no estoy registrado</span>
    </div>
</div>