.custom-tab-group {
    background: #FAFAFA;
  
    .mat-tab-label {
      background-color: transparent;
      color: #FAFAFA;
      font-weight: normal;
      border-bottom: 4px solid transparent;
      transition: background-color 0.3s ease, color 0.3s ease;
    }
  
    .mat-tab-label-active {
      background-color: #DABC62;
      color: black;
      font-weight: bold;
      border-bottom: 4px solid #002B3E;
    }
  
    .mat-ink-bar {
      display: none !important;
    }
  }
  