<div class="containerHome">
    <app-navbar></app-navbar>
    <!-- <mat-sidenav-container>
        <mat-sidenav-content class="content" [style.margin-left]="sidenavWidth()">
            
        </mat-sidenav-content>
    </mat-sidenav-container> -->
    <app-carousel [images]="arrayImage"></app-carousel>
    <div class="containerImages">
      <img src="../../../../assets/images/QUIENES SOMOS.png" alt="">
      <img src="../../../../assets/images/OBJETIVOS.png" alt="">
      <img src="../../../../assets/images/UNIVERSIDADES.png" alt="">
      <img src="../../../../assets/images/CURSOS.png" alt="">
      <img src="../../../../assets/images/METODOLOGIA.png" alt="">
      <img src="../../../../assets/images/HORARIOS.jpeg" alt="">
      <img src="../../../../assets/images/PRECIOS.jpeg" alt="">
      <!-- <img src="../../../../assets/images/HISTORIAS DE EXITOS.png" alt=""> -->
    </div>
</div>