<div class="containerHome">
    <app-carousel [images]="arrayImage"></app-carousel>
    <div class="containerImages">
      <img src="assets/QUIENES SOMOS.png" alt="">
      <img src="assets/OBJETIVOS.png" alt="">
      <img src="assets/UNIVERSIDADES.png" alt="">
      <img src="assets/CURSOS.png" alt="">
      <img src="assets/CURSOS_2.jpg" alt="">
      <img src="assets/METODOLOGIA.png" alt="">
      <img src="assets/HORARIOS.jpeg" alt="">
      <img src="assets/PRECIOS.jpeg" alt="">
      <!-- <img src="assets/HISTORIAS DE EXITOS.jpeg" alt=""> -->
    </div>
</div>