@import "tailwindcss";

body {
  width: 100%;
  height: 100vh;
  font-family: 'Univia Pro', sans-serif !important;
  font-size: 0.88rem;
  overflow-x: hidden;
  margin: 0;
  padding: 0;
}
/* Importing Bootstrap SCSS file. */
// @import 'bootstrap/scss/bootstrap';

$primary-color: #DABC62;
$secondary-color: #002B3E;
$base-color: #FAFAFA;
$black: #000000;
$gray: #A0A0A0;
