body {
    width: 100%;
    height: 100vh;
    font-family: 'Univia Pro', sans-serif !important;
    font-size: 0.88rem;
    overflow-x: hidden;
    margin: 0;
    padding: 0;
  }
/* Importing Bootstrap SCSS file. */
// @import 'bootstrap/scss/bootstrap';
