:host ::ng-deep .custom-checkbox .mdc-checkbox__background {
    background-color: white !important;
    border-color: #ddd !important;
}

:host ::ng-deep .custom-checkbox.mat-mdc-checkbox-checked .mdc-checkbox__checkmark {
    color: white !important;
    background-color: #009A3F !important;
    border-color: #009A3F !important;
}