.container {
    background: #002B3E;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    padding: 8px;

    .collapse {
        display: flex;
        flex-direction: row;
        align-items: center;
        gap: 20px;
    }
}